:root{
    --border-radius: 50%;
    --border-radius-nho: 5px;
    --border-nho: 6px;
    --border-trung: 8px;
    --border-lon: 10px;
    --color-gray: #888;
    --color-gray-input: #ccc;
    --color-black: black;
}

.body-pro-abc {  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    margin: 0;  
    padding: 0;  
    background-color: #f0f0f0;  
}  

.container-pro-abc {  
    max-width: 65%; 
    margin: auto;
    display: flex;  
    height: 100vh;
    padding: 20px;
}  

.sidebar-thai {  
    position: relative;
    width: 368px;  
    background-color: #fff;  
    padding: 20px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-right: 1px solid #CCCCCC; 
    border-bottom-left-radius: var(--border-radius-nho);
    border-top-left-radius: var(--border-radius-nho);
}  

hr {  
    border: none; 
    height: 1px;  
    background-color: #CCCCCC;
    margin: 20px 0;  
    border-radius: var(--border-radius-nho);
    margin-left: -20px;
    width: 418px;  
}  

.bottomproptn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    left: 32%;
    padding: 5px;
    border: 1px solid silver;
    background-color: #fff;
    font-weight: 600;
    border-radius: var(--border-nho);
    color: var(--color-black);
}

.hidei-img{
   margin-right: 5px;
}

.search-input {  
    width: 100%;  
    padding: 8px;  
    margin-bottom: 20px;  
    border: 1px solid var(--color-gray-input);  
    border-radius: 6px;
    outline: none;  
}  

.filterpropt {    
    padding: 8px;  
    margin-bottom: 20px;  
    border: 1px solid #ccc;  
    border-radius: 6px; 
    outline: none; 
}

.seltect{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user {  
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    margin-bottom: 15px;  
}  

.user-avatar {  
    border-radius: var(--border-radius);  
    margin-right: 10px;
    width: 45px;
    height: 45px;  
}

a{
    text-decoration: none;
}

.user-info {  
    display: flex;  

} 

.room-avatar{
    width: 70px;
    height: 60px;
    object-fit: cover;
    border-radius: var(--border-trung);
}

.pham{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-name {  
     font-weight: normal;
     color: var(--color-black);
     font-size: 14px;
}  

.user-time {  
    color: var(--color-gray);  
    font-size: 11px;  
} 

.chat-window {  
    flex-grow: 1;  
    display: flex;  
    flex-direction: column;  
    background-color: #fff;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-top-right-radius: var(--border-radius-nho);
    border-bottom-right-radius: var(--border-radius-nho);
}  

.background-colorr{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #D9D9D9;
    margin-right: 5px;
}

.chat-header {  
    justify-content: space-between;
    display: flex;
    height: 80px;
    padding: 10px;  
    padding-top: 18px;
    border-bottom: 1px solid #ddd;  
}

.space-betweenptptt{
    display: flex;
}

.space-betweenpt{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.chat-header-imgpro{
    width: 40px;
    border-radius: 50%;
}

.chat-header-imgpro-margin{
    margin-right: 10px;
}

.colum{
    display: flex;
    flex-direction: column;
}

.chat-name {  
    font-weight: bold;
    font-size: 17px;  
}  

.chat-status {  
    font-size: 12px;  
    color: var(--color-gray);  
    display: flex;
    align-items: center;
}  

.chat-room-with{
    width: 60px;
    height: 50px;
    object-fit: cover;
    border-radius: var(--border-trung);
    margin-right: 10px;
}

.chat-room{
    display: flex;
    align-items: center;
    padding: 13px;
    border-bottom: 1px solid #ccc;
}

.chat-room-receivedd-room{
    font-size: 14px;
}

.chat-room-receivedd-dola{
    font-size: 16px;
    color: #E21818;
}

.chat-time{
    display: flex;
    justify-content: center;
    padding: 8px;
}

.chat-time-category{
    color: #A9A9A9;
    font-size: 14px;
}

.chat-messages {  
    flex-grow: 1;  
    padding: 10px;  
    overflow-y: auto;  
}  

.message {  
    margin-bottom: 10px;  
}  

.message.received {  
    text-align: right;
}  

.message.sent {  
    text-align: left;  
}  

.message-time { 
    display: block; 
    font-size: 12px;  
    color: var(--color-gray);  
    margin: -5px 10px 0 10px;
}  

.message-text {  
    display: inline-block;  
    padding: 10px; 
    margin: 10px; 
    border-radius: var(--border-nho);  
}  

.message.received .message-text {  
    background-color: #FFF4D6;
    color: var(--color-black);
    font-size: 13px;  
}  

.message.sent .message-text {  
    background-color: #F4F4F4;  
    color: var(--color-black); 
    font-size: 13px; 
}  

.message-input {  
    padding: 8px;
    margin-right: 10px;  
    border: 1px solid var(--color-gray-input);  
    border-radius: var(--border-lon); 
    width: 78%; 
    outline: none;
}

.display-flexpro{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.display-flexpro-marginpro{
    margin-right: 10px;
    margin-left: 10px;
    width: 30px;
    height: auto;
}

.send-graypt{
    width: 30px;
    height: auto;
}

.btn-buttonpro{
    display: block;
    outline: none;
    border: none;
    background-color: white;
}